body{
    /* width: max-content; */
    /* height: auto; */
    background-image: url(/images/y_rect.svg);
    background-repeat:repeat;
}

.menu_block{
    display: flex;
    /* align-items: flex-end; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header_img{
    width: 100vh;
    height: 60vh;
    background-image: url(/images/Frame_39283.svg);
    background-size: contain;
    background-repeat: no-repeat;

}
.header_menu{
    display: flex;
    flex-direction: row;
    /* grid-row: 1; */
}

.main_block{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50em; */
    /* height: 700px; */
    margin: 16px;
    padding: 8px;
}
.main_block_body_backward{
    padding-bottom: 18px;
    padding-right: 16px;
    /* padding-left: 2px; */
    /* padding-top: 2px; */
    background-color: black;
    border-radius: 24px;
    border: solid snow;
}

.main_block_body{
    width: 50em;
    height: 1000px;
    background-color: blueviolet;
    border-radius: 22px;
    border: solid rgb(15, 15, 15) 4px;
}