@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #FBD800;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e0c306;
    border-radius: 10px;
    border: 3px solid #fde12c;
  }

html{
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 700;
    color: #000000;

}

body{
    /* width: max-content; */
    /* height: auto; */
    background-image: url(/images/y_rect.svg);
    background-repeat:repeat;
    overflow-x:hidden;
}

.menu_block{
    display: flex;
    margin: 10vw;
    /* align-items: flex-end; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.header_img{
    width: 80vw;
    height: 60vh;
    background-image: url(/images/Frame_39283.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.header_menu{
    display: flex;
    width: 100vw;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 24px;
    padding: auto;
    justify-content: space-around;
    /* grid-row: 1; */
}
.header_menu_logo{
    float: left;
    
}
.header_menu_block{
    display: flex;
    float: right;
    /* align-self: flex-end; */
}
.main_block{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50em; */
    /* height: 700px; */
    margin: 16px;
    padding: 8px;
}

.main_block_body_navigation_sort_button{
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
    color: #6500B6;
    background: #FBD800;
border: 4px solid #000000;
box-shadow: 6px 6px 0px #000000;
border-radius: 8px;
padding: 0.6em;
padding-left: 1.4em;
padding-right: 1.4em;
user-select: none;
cursor: pointer;
}
.main_block_body_navigation_filter_button{
background: #FF05AF;
display: flex;
justify-content: center;
border: 4px solid #000000;
box-shadow: 6px 6px 0px #000000;
border-radius: 8px;
/* width: 3.8em; */
/* height: 2.8em; */
padding: 0.2em;
cursor: pointer;
/* padding-left: 1.4em;
padding-right: 1.4em;
user-select: none; */
}
/* .main_block_body_navigation_filter_button:hover{
    border: 3px solid #000000;
box-shadow: 5px 5px 0px #000000;
} */
.main_block_body_navigation_filter_button_img{
    display: flex;
   background-image: url(/images/btn_sel_01.svg);
background-repeat: no-repeat;
background-size: contain; 
background-position: center;
width: 50px;
height: 36.8px;
margin: 0.1em;

/* padding: 0.1em; */
}
.main_block_body_navigation_filter_button_img:hover{
    background-image: url(/images/btn_sel_02.svg);
}
.main_block_body_backward{
    padding-bottom: 18px;
    padding-right: 16px;
    /* padding-left: 2px; */
    /* padding-top: 2px; */
    background-color: black;
    border-radius: 24px;
    border: solid snow;
}

.main_block_body{
    width: 80vw;
    /* height: 1000px; */
    background-color: blueviolet;
    border-radius: 22px;
    border: solid rgb(15, 15, 15) 4px;
    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main_block_body_navigation{
 width: 100%; 
 margin: 8px;
 padding: 8px;
 padding-left: 10%;
 padding-right: 10%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between; 
}
.game_card {
box-sizing: border-box;
width: 300px;
height: 380px;
margin: 16px;
padding: 8px;
background: #FFFFF1;
border: 3px solid #000000;
box-shadow: 4px 4px 0px #000000, 4px 4px 0px #FFFFFF;
border-radius: 26px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.game_card:hover{
    border: 2px solid #000000;
    box-shadow: 3px 3px 0px #000000, 3px 3px 0px #FFFFFF;
}

.game_card_name{
    padding: 8px;
    text-align: center;

}
.game_card_img{
    box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 278px;
padding: 16px;
/* clip-path: url(/images/Rectangle_25.svg); */
background-image: url(/images/gameCards/aaa_004.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* background: #2a753b; */
border: 3px solid #000000;
border-radius: 26px;
display: flex;
flex-direction: column;
justify-content: end;
}
.game_card_button{
align-self: flex-end;
text-align: center;
font-family: 'Raleway';
font-size: 1.5em;
font-weight: 700;
color: #FBD800;
padding: 0.4em;
padding-left: 1.6em;
padding-right: 1.6em;

background: #6500B6;
border: 2px solid #000000;
box-shadow: 4px 4px 0px #000000;
/* background: #223985; */
/* border: 3px solid #FBD800; */
border-radius: 14px;
cursor: pointer;
user-select: none;
}
.game_card_button:hover{
    border: 1px solid #000000;
    box-shadow: 2px 4px 0px #000000; 
}



/* Стили для модального окна */
/* .modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
   */
  /* Стили для кнопки закрытия */
  /* .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
  }
   */
  /* Стили для кнопки развертывания на весь экран */
  /* #fullscreenBtn {
    position: absolute;
    top: 10px;
    right: 10px;
  } */
  
  /* Стили для элемента отображения приложения */
  /* #myFrame {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: block;
  } */
  
  /* Стили для кнопки открытия модального окна */
  /* #openBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
  } */
  
  /* Стили для развернутого на весь экран состояния */
  /* .modal-fullscreen {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
  } */